@(pictures: Map[String,String],tabpages: List[TabPage])

<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-3 col-md-4">
                <div class="col-xs-12" style="height:70px;"></div>

                <img src="@routes.Assets.versioned("images_sys/id_photo.jpg")" style="max-height: 450px" class="img-responsive img-rounded" >
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="col-lg-6">
                    <h2>About Me</h2>
                    <p>I always want to see my limits and try to overcome them. This was the reason why I have chosen to study, as a Slovak fresh high school graduate,
                        <b>Electrical Engineering</b> at <b>Technical University of Vienna</b>. Even though I knew that attending higher edu-
                        cation studies in a foreign language was going to be a challenge, I realised, that it would make me grow both
                        personally and professionally</p>
                    <p>To try something new I have decided to take a part in the exchange program. My choice was department of <b>Electrical Engineering</b> at the <b>ETH Zürich</b>.</p>
                    <p><b>My strongest interests</b>
                        <ul>
                            <li><b>Control Systems</b></li>
                            <li><b>Robotics</b></li>
                            <li><b>Circuits Development</b></li>
                            <li><b>Position Estimation</b> and <b>Kalman Filter</b></li>
                            <li>Fitness</li>
                        </ul>
                    </p>


                </div>
                <div class="col-lg-6">
                    <h2>Experiences</h2>
                    <ul>
                        <li><b>Teaching Assistant</b> on subject <b>Object-Oriented Programming</b> (Java)</li>
                        <li><b>Software Developer</b> at the <b>Institute for Microelectronics TU WIEN</b></li>
                        <li><b>Control Systems</b> Developer</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="col-lg-3 col-sm-4">
                <h2>Contact</h2>
                <ul>
                    <li><b>Phone:</b> +421917111219</li>
                    <li><b>Email:</b><a href="mailto:kabzanj@@gmail.com"> kabzanj&#064gmail.com</a></li>
                    <li><b>Address:</b> Currently Zurich</li>
                </ul>
            </div>
            <div class="col-lg-9 col-sm-8">
                <h2>Certifications</h2>
                <ul>
                    <li>edX Honor Code Certificate for <b>Autonomous Navigation for Flying Robots</b></li>
                    <li>Currently Working on: Udacity, <b>Machine Learning</b></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <h2>Programming and Frameworks Skills</h2>
        <table class="table table-striped text-center vertical-center">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center"><h4>Advanced</h4></th>
                    <th class="text-center"><h4>Basic</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="vertical-center"><h4>Languages</h4></td>
                    <td><a href="www.cplusplus.com" target="_blank"> <img src="@routes.Assets.versioned("images_sys/cplusplus.png")"></a>
                        <a href="http://www.maplesoft.com/products/Maple/" target="_blank"><img src="@routes.Assets.versioned("images_sys/maple.png")"></a>
                        <a href="www.java.com" target="_blank"><img src="@routes.Assets.versioned("images_sys/java.png")"></a>
                        <a href="www.matlab.com" target="_blank"><img src="@routes.Assets.versioned("images_sys/matlab.png")"></a>
                        <a href="http://www.mathworks.com/products/simulink/" target="_blank"><img src="@routes.Assets.versioned("images_sys/simulink.png")"></a>
                    </td>
                    <td> <img src="@routes.Assets.versioned("images_sys/python.png")">
                    </td>
                </tr>
                <tr>
                    <td class="vertical-center"><h4>Framework</h4></td>
                    <td><a href="www.ros.org" target="_blank"><img src="@routes.Assets.versioned("images_sys/ros.png")"></a>
                        <a href="http://www.qt.io/ide/" target="_blank"><img src="@routes.Assets.versioned("images_sys/qt.png")"></a>
                        <a href="http://www.nvidia.com/object/cuda_home_new.html" target="_blank"><img src="@routes.Assets.versioned("images_sys/cuda.png")"></a>
                        <a href="https://www.khronos.org/opencl/" target="_blank"><img src="@routes.Assets.versioned("images_sys/opencl.png")"></a>

                    </td>
                    <td>
                        <a href="http://developer.android.com/index.html" target="_blank"><img src="@routes.Assets.versioned("images_sys/android.png")"></a>
                        <a href="http://www.w3schools.com/css/" target="_blank"><img src="@routes.Assets.versioned("images_sys/css.png")"></a>
                        <a href="http://www.w3schools.com/html/" target="_blank"><img src="@routes.Assets.versioned("images_sys/html.png")"></a>
                        <a href="http://www.w3schools.com/js/" target="_blank"><img src="@routes.Assets.versioned("images_sys/js.png")"></a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>


    @if(pictures!=null) {
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
                <div class="row">
                        <ul class="bxslider">
                        @for((name, id) <- pictures) {
                            <li>
                                <a href="@routes.Application.menu_id(id)"><img src="@routes.Application.imageAt(name)"  alt="" /></a>
                            </li>
                        }
                        </ul>
                </div>
            </div>
            <div class="col-lg-2"></div>


        </div>
    }
</div>

