@(pictures: Map[String,String],tabpages: List[TabPage])


@if(pictures!=null) {

    <!-- <section id="intro"> -->
    <ul class="bxslider">
    @for((name, id) <- pictures) {
        <li>
            <img src="@routes.Application.imageAt(name)"  title="@id.replace('_', ' ').split(' ').map(_.capitalize).mkString(" ")" />
        </li>
    }
    </ul>
    <!-- </section> -->

}

<section id="about_me" class="section">
    <div class="container">

    <div class="row">
                <div class="col-lg-3 col-md-4">
                    <img src="@routes.Assets.versioned("images_sys/id_photo.jpg")" style="max-height: 300px" class="img-responsive img-rounded" >
                </div>
                <div class="col-lg-1"> </div>
                <div class="col-lg-8 col-md-8">
                    <div class="row">

                    <div class="heading">
                        <h3><span>About Me</span></h3>
                    </div>
                    <div class="sub-heading">
                        <p>
                           Acquiring MSc Robotics, System and Control at ETH Zürich
                        </p>
                    </div>
           
                        <p><b>My strongest interests</b>
                            <ul>
                                <li><b>Control designes pushed to the limits</b></li>
                                <li><b>Optimization</b></li>
                                <li><b>Machine Learning </b></li>
                                <li>Fitness, basketball and cooking</li>
                            </ul>
                        </p>


                    </div>

                </div>
        </div>
    </div>

</section>

<section class="section gray">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading">
                        <h3><span>Education</span></h3>
                    </div>
                </div>
            </div>
            <ul>
            	<li><b>Swiss Federal Institute of Technology in Zurich (ETH)</b>: MSc Robotics, System and Control
                <ul>
                <li>Knowledge Acquired:
                <ul>
                <li>Control Systems, Distributed Control, Nonlinear Control, MIMO Control, Optimal Control</li>
                <li>Dynamic Programming</li>
                <li>Model Predictive Control, Optimization </li>
                <li>Machine Learning (supervised/unsupervised learning)</li>
                <li> C++ algorithm optimization </li>
                </ul></li>
                </ul>
            	</li>
                <li><b>Swiss Federal Institute of Technology in Zurich (ETH)</b>: B.S. in Electrical Engineering and Information Technology
                    <ul>
                        <li>Exchange Program, where I focused more on sensing biological functions (Neuron action potential)</li>
                    </ul>
                </li>
                <li><b>Vienna University of Technology</b>: B.S. in Electrical Engineering and Information Technology
                    <ul>
                        <li><b>Finnished with a distinction, GPA:</b> 1.8 (1 to 5, 1 being the best and 4 pass)</li>
                        <li><b>Thesis Title:</b> An On-Drone Dynamic Object Track and Follow Solution for Quadcopters</li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading">
                        <h3><span>Experiences</span></h3>
                    </div>
                </div>
            </div>
            <ul>
                <li>Part of <a href="http://driverless.amzracing.ch/"> <b>AMZ Driverless</b> (2016/2017)</a>
                    <ul>
                        <li> I am working on <b>Path Planning</b> and helping in control system</li>
                    </ul>
                </li>

                <li><b>Software Developer</b> at the <b>Institute for Microelectronics TU WIEN</b>(2014)
                    <ul>
                        <li>Parallel Programming, CUDA, OpenCL, OpenMP</li>
                        <li>Implementing the Fast Fourier Transform</li>
                    </ul>
                </li>
                <li><b>Robotics System Developer</b> on Automation and Control Institute, Institute of Computer Engineering at Vienna University of Technology (2015)
                    <ul>
                        <li>Developing controllers for flying vehicles and control algorithms (Quadcopter)</li>
                        <li>Creating control boards</li>
                        <li>Evaluating and testing control loops</li>
                        <li>Creating 2D maps and localization SLAM, Kalman Filter, Particle Filter</li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading">
                        <h3><span>Certificates</span></h3>
                    </div>
                </div>
            </div>
            <ul>
                <li>currently taking Underactuated Robots at edX</li>
                <li>edX Honor Code Certificate for <b>Autonomous Navigation for Flying Robots</b></li>
                <li> IELTS Band 7 </li>
            </ul>

        </div>
    </div>
</section>


<section class="section">
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="heading">
                        <h3><span>Programming & Softwares</span></h3>
                    </div>
                </div>
            </div>
        <table class="table table-striped text-center vertical-center">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center"><h4>Advanced</h4></th>
                    <th class="text-center"><h4>Basic</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="vertical-center"><h4>Languages</h4></td>
                    <td><a href="http://www.cplusplus.com" target="_blank"> <img src="@routes.Assets.versioned("images_sys/cplusplus.png")"></a>
                    <a href="https://www.python.org/" target="_blank">    <img src="@routes.Assets.versioned("images_sys/python.png")"></a>
                        <a href="http://www.maplesoft.com/products/Maple/" target="_blank"><img src="@routes.Assets.versioned("images_sys/maple.png")"></a>
                        <a href="http://www.java.com" target="_blank"><img src="@routes.Assets.versioned("images_sys/java.png")"></a>
                        <a href="http://www.matlab.com" target="_blank"><img src="@routes.Assets.versioned("images_sys/matlab.png")"></a>
                        <a href="http://www.mathworks.com/products/simulink/" target="_blank"><img src="@routes.Assets.versioned("images_sys/simulink.png")"></a>
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td class="vertical-center"><h4>Framework</h4></td>
                    <td><a href="http://www.ros.org" target="_blank"><img src="@routes.Assets.versioned("images_sys/ros.png")"></a>
                        <a href="http://www.qt.io/ide/" target="_blank"><img src="@routes.Assets.versioned("images_sys/qt.png")"></a>
                        <a href="http://www.nvidia.com/object/cuda_home_new.html" target="_blank"><img src="@routes.Assets.versioned("images_sys/cuda.png")"></a>
                        <a href="https://www.khronos.org/opencl/" target="_blank"><img src="@routes.Assets.versioned("images_sys/opencl.png")"></a>

                    </td>
                    <td>
                        <a href="http://developer.android.com/index.html" target="_blank"><img src="@routes.Assets.versioned("images_sys/android.png")"></a>
                        <a href="http://www.w3schools.com/css/" target="_blank"><img src="@routes.Assets.versioned("images_sys/css.png")"></a>
                        <a href="http://www.w3schools.com/html/" target="_blank"><img src="@routes.Assets.versioned("images_sys/html.png")"></a>
                        <a href="http://www.w3schools.com/js/" target="_blank"><img src="@routes.Assets.versioned("images_sys/js.png")"></a>
                    </td>

                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
    </div>
    </section>




</div>

